:root {
    --accent-color: #93c039;
}

* {
    font-family: Arial;
}

body, html {
    margin: 0;
    padding: 0;
}

.slider-container {
    display: flex;
    height: 30vh;
    gap: 10px;
    width: 300vw;
    margin: 15px 0px;
    padding: 0px 10px;
}

.slider-container > div {
    background-color: rgb(209, 209, 209);
    width: calc(100vw - 20px);
    border-radius: 25px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.164);
}

.slider-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

header > img {
    display: block;
    height: 20vh;
    margin: auto;
}

nav {
    background-color: var(--accent-color);
    height: 10vh;
    display: flex;
    align-items: center;
}

nav > button {
    background-color: white;
    border: none;
    font-size: 30px;
    color: var(--accent-color);
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    width: 60px;
    height: 60px;
    user-select: none;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    cursor: pointer;
    transition: all 0.2s;
}

nav > button:hover {
    transform: scale(0.9);
}

.m-nav {
    background-color: var(--accent-color);
    height: 100vh;
    overflow-y: scroll;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 1;
    left: -100%;
    transition: left .2s ease-out;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.m-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 3;
    text-align: center;
}

.m-nav a {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    text-align: center;
    padding: 10px;
}


.nav-x {

}

section {
    width: 100%;
    margin: 10vh auto;
    max-width: 1000px;
}

.wizyta-button-wrapper {
    display: block;
    margin: auto;
    width: min-content;
}

.btn {
    position: relative;
    display: inline-block;
    width: 277px;
    height: 50px;
    font-size: 1em;
    font-weight: bold;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
    cursor: pointer;
    text-decoration:none;
    font-family: 'Roboto', sans-serif;
    font-weight:900;
    font-size:17px;
    letter-spacing: 0.045em;
    user-select: none;
}

.btn svg {
    position: absolute;
    top: 0;
    left: 0;
}

.btn svg rect {
    stroke: var(--accent-color);
    stroke-width: 4;
    stroke-dasharray: 353, 0;
    stroke-dashoffset: 0;
    -webkit-transition: all 600ms ease;
    transition: all 600ms ease;
}

.btn span{
  background: var(--accent-color);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8282', endColorstr='#e178ed',GradientType=1 );
  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn:hover svg rect {
    stroke-width: 4;
    stroke-dasharray: 196, 543;
    stroke-dashoffset: 437;
}

.person {
    display: flex;
    gap: 3%;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 3%;
    border: solid 5px var(--accent-color);
}

.person img {
    width: 100px;
    border-radius: 50%;
}

.person h1 {
    color: var(--accent-color);
    font-size: 1.2rem;
    margin-bottom: 0px;
}

.person h2 {
    font-size: 1rem;
    margin-top: 0px;
}

.korzysci-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.korzysci-wrapper > div {
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 0px 24px;
    margin: 10% 0px;
    width: 80%;
    max-width: 400px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    padding: 5%;
}

.korzysci-wrapper div > div {
    width: 100%;
    display: flex;
    justify-content: center;
}

.korzysci-wrapper h2 {
    color: var(--accent-color);
    margin-top: 50px;
}

.korzysci-wrapper i{
    background-color: var(--accent-color);
    color: white;
    width: 112px;
    height: 112px;
    border-radius: 50%;
    font-size: 50px;
    position: absolute;
    top: -50px;
    transition: transform 1s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.korzysci-wrapper i:hover {
    transform: rotate(360deg);
}

.korzysci-wrapper p {
    text-align: center;
}