:root {
    --accent-color: #93c039;
}

* {
    font-family: Arial;
}

body, html {
    margin: 0;
    padding: 0;
}

.slider-container {
    display: flex;
    height: 30vh;
    gap: 10px;
    width: 300vw;
    padding: 0px 10px;
    margin: 15px 0px;
}

.slider-container > div {
    background-color: rgb(209, 209, 209);
    width: calc(100vw - 20px);
    border-radius: 25px;
    padding: 15px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.164);
}

header > img {
    display: block;
    height: 20vh;
    margin: auto;
}

nav {
    background-color: var(--accent-color);
    height: 10vh;
    display: flex;
    align-items: center;
}

nav > button {
    background-color: white;
    border: none;
    font-size: 30px;
    color: var(--accent-color);
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    width: 60px;
    height: 60px;
    user-select: none;
    box-shadow: 0px 0px 55px rgba(0, 0, 0, 0.308);
    cursor: pointer;
    transition: all 0.5s;
}

nav > button:hover {
    transform: scale(1.1);
    background-color: var(--accent-color);
    color: white;
    box-shadow: 0px 0px 55px rgba(0, 0, 0, 0.308);
}

section {
    width: 100%;
    margin: 10vh auto;
    max-width: 1000px;
}

.wizyta-button-wrapper {
    display: block;
    margin: auto;
    width: min-content;
}

.btn {
    position: relative;
    display: inline-block;
    width: 277px;
    height: 50px;
    font-size: 1em;
    font-weight: bold;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
    cursor: pointer;
    text-decoration:none;
    font-family: 'Roboto', sans-serif;
    font-weight:900;
    font-size:17px;
    letter-spacing: 0.045em;
    user-select: none;
}

.btn svg {
    position: absolute;
    top: 0;
    left: 0;
}

.btn svg rect {
    stroke: var(--accent-color);
    stroke-width: 4;
    stroke-dasharray: 353, 0;
    stroke-dashoffset: 0;
    -webkit-transition: all 600ms ease;
    transition: all 600ms ease;
}

.btn span{
  background: var(--accent-color);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8282', endColorstr='#e178ed',GradientType=1 );
  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn:hover svg rect {
    stroke-width: 4;
    stroke-dasharray: 196, 543;
    stroke-dashoffset: 437;
}

.person {
    display: flex;
    gap: 3%;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 3%;
    border: solid 5px var(--accent-color);
}

.person img {
    width: 100px;
    border-radius: 50%;
}

.person h1 {
    color: var(--accent-color);
    font-size: 1.2rem;
    margin-bottom: 0px;
}

.person h2 {
    font-size: 1rem;
    margin-top: 0px;
}