.slider{
  overflow: hidden;
  position: relative;
}

.slider-container {
    height: 250px;
    display: inline-flex;
    overflow: hidden;
    transform: translateX(0);
    transition: transform 0.3s ease-out;
    cursor: grab;
  }
  
  .slide {
    border-radius: 25px;
    max-height: 100%;
    width: calc(100vw - 2rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    user-select: none;
  }
  
  .slide img {
    object-fit: cover;
    width: 100%;
    height: 100%;

    border-radius: inherit;
    transition: transform 0.3s ease-in-out;
  }
  

  
  .grabbing {
    cursor: grabbing;
  }
  
  .grabbing .slide img {
    transform: scale(0.9);
  }
  

.arrows{
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: calc(100vw - 50px);
  color: rgba(255, 255, 255, 0.418);
  font-size: 40px;
  z-index: 1;
  pointer-events:none;
}


@keyframes arrow-hidden{
  from {
    visibility: visible;
    transform: scale(1);
  }
  to {
    visibility: visible;
    transform: scale(0);
  }
}
@keyframes arrow-show {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}